form {
    input, textarea {
      border-radius: 5px;
      padding: 10px;
      width: 50%;
    }
  }
  
  #inputB {
    border-radius: 5px;
    padding: 10px;
    width: 35%;
    cursor: pointer;
  }