@media (min-width:350px) {
    .novedades{
        grid-area: index-header;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        "nov1 nov1 nov1 nov1"
        "nov2 nov2 nov2 nov2"
        "nov3 nov3 nov3 nov3"
        "nov4 nov4 nov4 nov4";
    }
 
    .celulares{
        grid-area: celulares;
        display: grid;
        grid-template-areas: 
        "phone1 phone1 phone2 phone2"
        "phone3 phone3 phone4 phone4";    
    }
    
    .accesorios{
        grid-area: accesorios;
        display: grid;
        grid-template-areas:     
        "funda1 funda1 funda2 funda2"
        "funda3 funda3 funda4 funda4";
    }
     
    .others{
        grid-area: others;
        
        display: grid;
        grid-template-areas:     
        "cargador1 cargador1 cargador2 cargador2"
        "cargador3 cargador3 cargador4 cargador4";
    }
    
    /* GRID P/FOOTER */
    .footer-article-container{
        grid-area: footer-article-container;
        display: grid;
        grid-template-areas:
        "leyes leyes redes redes" 
        "mediosDePago mediosDePago contactanos contactanos";
    }
    .login-card{
        margin: 0;
        width: 400px;
    }  
 }

 @media (min-width:600px) {
    .comentarios{
        grid-template-areas: comentarios;
        display: grid;
        grid-template-areas: 
        "caja1" 
        "caja2"
        "caja3";
     }     
}
    

@media (min-width: 768px) {
    /*nav-bar */
  
    header nav {
      padding: 2% 2% 0% 2%;
      display: flex;
  
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  
    /*nav-bar*/
  
    .burger-div {
      display: none;
    }
  
    nav {
      display: flex;
    }
  
    .comentarios {
      grid-template-areas: comentarios;
      display: grid;
      grid-template-areas: "caja1 caja2" "caja3 caja3";
    }
  }
  
  /* COMPUTADORAS DE ESCRITORIO */
  @media (min-width: 1024px) {
    .index-head {
      grid-area: index-header;
      display: grid;
      grid-template-areas: "top-navbar top-navbar top-navbar top-navbar" "nav-bar nav-bar nav-bar nav-bar" "burger burger burger burger";
    }
  
    .comentarios {
      grid-template-areas: comentarios;
      display: grid;
      grid-template-areas: "caja1 caja2 caja3";
    }
  
    /* GRID P/HEADER */
    /* GRID P/BODY */
  
    .celulares {
      grid-area: celulares;
      display: grid;
      grid-template-areas: "phone1 phone2 phone3 phone4";
    }
  
    .accesorios {
      grid-area: accesorios;
      display: grid;
      grid-template-areas: "funda1 funda2 funda3 funda4";
    }
  
    .others {
      grid-area: others;
      display: grid;
      grid-template-areas: "cargador1 cargador2 cargador3 cargador4";
    }
  
    /* GRID P/BODY */
    /* GRID P/FOOTER */
  
    .footer-article-container {
      grid-area: footer-article-container;
      display: grid;
      grid-template-areas: "leyes redes mediosDePago contactanos";
    }
  
    .novedades {
      grid-area: novedades;
      display: grid;
      grid-template-areas: "nov1 nov1 nov2 nov2" "nov1 nov1 nov2 nov2" "nov3 nov3 nov4 nov4" "nov3 nov3 nov4 nov4";
    }
  }



